body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    background-color: #222;
    color: white;
    padding: 15px;
    width: 100%;
    text-align: center;
}

.product-card {
  background-color: white;
  width: 260px;  
  margin-top: 40px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: left;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.product-card img {
  display: block;
  margin: 0 auto;
  width: 180px;              
  height: auto;
  border-radius: 5px;
}

.product-card h3 {
  margin: 10px 0 5px;
}

.product-card p {
  color: #555;
  font-size: 14px;
  margin: 5px 0;
}

.price {
  color: green;
  font-weight: bold;
}

.old-price {
  color: gray;
  text-decoration: line-through;
  font-size: 13px;
}

button {
  background-color: #0073e6;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #005bb5;
}